fire==0.5.0
fonttools==4.43.0
imageio==2.31.5
imutils==0.5.4
lazy_loader==0.3
lxml==4.9.3
networkx==3.1
numpy==1.26.0
opencv-python==4.8.1.78
packaging==23.2
pdf2docx==0.5.6
Pillow==10.0.1
PyMuPDF==1.23.4
pytesseract==0.3.10
python-docx==0.8.11
scikit-image==0.22.0
scipy==1.11.3
six==1.16.0
termcolor==2.3.0
tifffile==2023.9.26
