<!-- emailTemplate.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Online Tools App</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #007bff;
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Online Tools App</h1>
    <p>Thank you for signing up! We're excited to have you on board.</p>
    <p>Our online tools include:</p>
    <ul>
      <li>Online Python Compiler</li>
      <li>JSON Formatter</li>
      <li>Code Complexity Calculator</li>
      <li>Binary to Decimal Converter</li>
    </ul>
    <p>Feel free to explore and make the most out of these tools!</p>
    <p>If you have any questions or need assistance, don't hesitate to reach out.</p>
    <p>Best regards,<br>Your Online Tools App Team</p>
    <button style="text-align: center;">  <a href ="https://magenta-lamington-a14f0c.netlify.app/"> open </a>   </button>
  </div>
</body>
</html>
